<div class="bg-[#EBF2FA] min-h-screen flex items-center justify-center px-4">
  <div *ngIf="!showToast" class="bg-white p-6 sm:p-10 rounded-2xl shadow-md w-full max-w-md">
    <h2 class="text-2xl sm:text-3xl font-semibold text-center mb-6">Sign Up</h2>
    
    <form [formGroup]="userSignupObj">
      <div class="mb-4 ">
        <label class="block text-gray-700 font-medium mb-1" for="fullName">Full Name</label>
        <input formControlName="fullName"  autocomplete="off" type="text" id="fullName" name="fullName" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" />

        <!-- error messages -->
         @if(userSignupObj.get('fullName')?.touched && userSignupObj.get('fullName')?.invalid){
            <div class="text-red-500 text-sm mt-1">
                      <p *ngIf="userSignupObj.get('fullName')?.errors?.['required']">Full name is required</p>
                      <p *ngIf="userSignupObj.get('fullName')?.errors?.['pattern']">First letter must be uppercase and follow the format like: John Doe</p>
            </div>
         }
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 font-medium mb-1" for="phone">Phone Number</label>
        <input formControlName="phoneNumber" autocomplete="off" type="tel" id="phone" name="phone" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" />

        <!-- error messages -->
         @if(userSignupObj.get('phoneNumber')?.touched && userSignupObj.get('phoneNumber')?.invalid){
            <div class="text-red-500 text-sm mt-1">
                      <p *ngIf="userSignupObj.get('phoneNumber')?.errors?.['required']">Phone number is required</p>
                      <p *ngIf="userSignupObj.get('phoneNumber')?.errors?.['pattern']">Phone number must be 10 digits, starting with 97 or 98</p>
            </div>
         }
      </div>

      <div *ngIf="sellerAlreadyRegistered == false" class="mb-4">
          
          <label class="block text-gray-700 font-medium mb-1" for="role">Role</label>
            <select   id="role" formControlName="role" name="role" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
              <option  value="admin">Admin</option>
              <option  value="customer">Customer</option>
            </select>
        </div>

      <div class="mb-6">
        <label class="block text-gray-700 font-medium mb-1" for="password">Password</label>
        <input formControlName="password" autocomplete="off" type="password" id="password" name="password" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" />
        
        <!-- error messages -->
         @if(userSignupObj.get('password')?.touched && userSignupObj.get('password')?.invalid){
            <div class="text-red-500 text-sm mt-1">
                      <p *ngIf="userSignupObj.get('password')?.errors?.['required']">Password is required</p>
                      <p *ngIf="userSignupObj.get('password')?.errors?.['minlength']">Password must be at least 8 characters</p>
                      <p *ngIf="userSignupObj.get('password')?.errors?.['pattern']">Password must contain at least one lowercase letter, one digit, and one special character</p>
            </div>
         }
    </div>
      @if(sellerAlreadyRegistered == true){
         <button (click)="userSignUp()" [disabled]="userSignupObj.invalid"
           [ngClass]="{'cursor-not-allowed': userSignupObj.invalid, 'opacity-50': userSignupObj.invalid,
            'cursor-pointer':userSignupObj.valid, 'opacity-100':userSignupObj.valid
           }"
            type="submit" class="w-full  bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition-colors">Customer Sign Up</button>
          
        } 
        @else{
          <button type="submit" (click)="userSignUp()" [disabled]="userSignupObj.invalid"  class="w-full  bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition-colors">Seller Sign Up</button>

      }
    </form>

    <p class="text-center text-sm text-gray-600 mt-4">
      Already have an account? <a routerLink="/login" class="text-blue-600 hover:underline">Login</a>
    </p>
  </div>

  <!-- toast message -->
   <div
  *ngIf="showToast"
  id="toast-default"
  class="flex items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow-sm dark:text-gray-400 dark:bg-gray-800"
  role="alert"
>
  <div class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-blue-500 bg-blue-100 rounded-lg dark:bg-blue-800 dark:text-blue-200">
    <svg class="w-4 h-4" fill="none" viewBox="0 0 18 20" xmlns="http://www.w3.org/2000/svg">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M15.147 15.085a7.159 7.159 0 0 1-6.189 3.307A6.713 6.713 0 0 1 3.1 15.444c-2.679-4.513.287-8.737.888-9.548A4.373 4.373 0 0 0 5 1.608c1.287.953 6.445 3.218 5.537 10.5 1.5-1.122 2.706-3.01 2.853-6.14 1.433 1.049 3.993 5.395 1.757 9.117Z" />
    </svg>
    <span class="sr-only">Fire icon</span>
  </div>
  <div class="ms-3 text-sm font-normal">{{this.toastMessage}}</div>
  <button
    type="button"
    class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
    (click)="showToast = false"
    aria-label="Close"
  >
    <span class="sr-only">Close</span>
    <svg class="w-3 h-3" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
    </svg>
  </button>
</div>

</div>

