<header
  class="bg-[#98CD00] text-black shadow-md w-full transition-all duration-300 ease-in max-w-[1640px] mx-auto"
>
  <div
    class="mx-auto px-10 py-3 flex items-center justify-between"
  >
    <!-- Logo -->
    <div class="flex items-center space-x-4" data-aos="fade-down">
      <img
        src="./../../../../assets/LogoofLCOB.png"
        alt="logo"
        class="h-12 w-auto"
      />
    </div>

    <!-- Hamburger / Close Toggle -->
    <div class="md:hidden">
      <button (click)="toggleMenu()">
        <!-- Hamburger Icon -->
        <svg
          *ngIf="isMenuOpen() === false"
          class="w-8 cursor-pointer h-8 text-black"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>

        <!-- Close Icon -->
        <svg
          *ngIf="isMenuOpen()=== true"
          class="w-8 cursor-pointer h-8 text-black"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <!-- Desktop Nav -->
    <div class="hidden md:flex items-center space-x-8">
      <nav
        aria-label="Desktop Nav"
        class="flex space-x-3.5 lg:space-x-6 font-medium"
      >
        <a
          routerLink="/home"
          class="relative text-xl group overflow-hidden hover:scale-110 transition-all duration-1000"
          data-aos="fade-down-right"
          data-aos-delay="100"
          >Home<span
            class="absolute bottom-0 left-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"
          ></span
        ></a>
        <a
          routerLink="/shop"
          class="relative text-xl group overflow-hidden hover:scale-110 transition-all duration-1000"
          data-aos="fade-down-right"
          data-aos-delay="200"
          >Shop
          <span
            class="absolute bottom-0 left-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"
          ></span
        ></a>
        <a
          routerLink="shop/my-orders"
          class="relative text-xl group overflow-hidden hover:scale-110 transition-all duration-1000"
          data-aos="fade-down-right"
          data-aos-delay="300"
          >My Orders
          <span
            class="absolute bottom-0 left-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"
          ></span
        ></a>
        <a
          routerLink="/about"
          class="relative text-xl group overflow-hidden hover:scale-110 transition-all duration-1000"
          data-aos="fade-down-right"
          data-aos-delay="400"
          >About
          <span
            class="absolute bottom-0 left-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"
          ></span
        ></a>
      </nav>

      <div class="flex items-center space-x-4">
        <div class="relative" data-aos="fade-down-right" data-aos-delay="500">
          <input
            type="text"
            placeholder="Search..."
            class="pl-10 pr-4 py-2 rounded-md bg-white text-gray-800 focus:outline-none"
          />
          <svg
            class="w-5 h-5 absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-4.35-4.35M10 18a8 8 0 100-16 8 8 0 000 16z"
            />
          </svg>
        </div>

        <!-- Cart Icon Desktop -->
        <div
          class="relative cursor-pointer hover:scale-105 transition-transform duration-300"
          routerLink="shop/my-cart"
          data-aos="fade-down-right"
          data-aos-delay="600"
        >
          <img
            class="w-8 h-8"
            src="https://img.icons8.com/fluency/48/shopping-cart.png"
            alt="shopping-cart"
          />

          <span
            class="absolute -top-2 -right-2 bg-red-600 text-white text-xs font-bold px-1.5 py-0.5 rounded-full"
          >
            {{ cartcount() }}
          </span>
        </div>

        <button
          (click)="onLogin(btnText())"
          data-aos="fade-down-right"
          data-aos-delay="700"
          [ngClass]="{ 'bg-red-600': btnText() == 'Logout' }"
          class="bg-lime-600  hover:scale-105 transition-colors duration-300 cursor-pointer text-white px-4 py-2 rounded-md"
        >
          {{ btnText() }}
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div *ngIf="isMenuOpen() === true" class="md:hidden px-4 pb-4">
    <hr />
    <nav
      aria-label="Mobile Menu"
      class="flex flex-col justify-end items-center space-y-3 font-medium"
    >
      <a
        routerLink="/home"
        (click)="toggleMenu()"
        class="relative group overflow-hidden hover:scale-110 transition-all duration-500"
        >Home<span
          class="absolute bottom-0 left-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"
        ></span
      ></a>
      <a
        routerLink="/shop"
        (click)="toggleMenu()"
        class="relative group overflow-hidden hover:scale-110 transition-all duration-500"
        >Shop<span
          class="absolute bottom-0 left-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"
        ></span
      ></a>
      <a
        routerLink="shop/my-orders"
        (click)="toggleMenu()"
        class="relative group overflow-hidden hover:scale-110 transition-all duration-500"
        >My Orders<span
          class="absolute bottom-0 left-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"
        ></span
      ></a>
      <a
        routerLink="/about"
        (click)="toggleMenu()"
        class="relative group overflow-hidden hover:scale-110 transition-all duration-500"
        >About<span
          class="absolute bottom-0 left-0 h-[2px] w-0 bg-white transition-all duration-300 group-hover:w-full"
        ></span
      ></a>
    </nav>

    <div class="mt-4 space-y-3">
      <div class="relative">
        <input
          type="text"
          placeholder="Search..."
          class="w-full pl-10 pr-4 py-2 rounded-md bg-white text-gray-800 focus:outline-none"
        />
        <svg
          class="w-5 h-5 absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-4.35-4.35M10 18a8 8 0 100-16 8 8 0 000 16z"
          />
        </svg>
      </div>

      <!-- Cart Icon Mobile -->
      <div
        class="relative cursor-pointer flex justify-center"
        routerLink="shop/my-cart"
      >
        <img
          class="w-8 h-8"
          src="https://img.icons8.com/fluency/48/shopping-cart.png"
          alt="shopping-cart"
        />

        <span
          class="absolute -top-2 left-[50%] bg-red-600 text-white text-xs font-bold px-1.5 py-0.5 rounded-full"
        >
          {{ cartcount() }}
        </span>
      </div>

      <button
        (click)="onLogin(btnText())"
        class="w-full text-white bg-lime-600 px-4 py-2 rounded-md transition"
      >
        {{ btnText() }}
      </button>
    </div>
  </div>
</header>
