@if(showPopup == false){
<div class="min-h-screen bg-[#EBF2FA] py-8 px-4 sm:px-6 lg:px-16 relative">
  <div class="flex justify-between items-center">
    <h1
      class="text-2xl md:text-3xl sm:block hidden font-bold mb-8 text-gray-800"
    >
      My Cart
    </h1>
    <button routerLink="/shop" class="cursor-pointer md:hidden mb-4">
      Go To Shop Page
    </button>
    <button
      *ngIf="allCartItems().length>0"
      (click)="clearCart()"
      class="bg-red-700 hover:bg-red-600 text-white font-medium py-2 sm:py-1 px-2 cursor-pointer mb-2 rounded shadow transition duration-300"
    >
      <img
        width="28"
        height="28"
        class="hidden sm:inline-block"
        src="https://img.icons8.com/fluency/48/filled-trash.png"
        alt="filled-trash"
      />
      Remove All Items
    </button>
    <!-- Floating Button: Mobile Only -->
    <button
      *ngIf="allCartItems().length>4"
      class="fixed bottom-4 left-1/2 -translate-x-1/2 lg:hidden bg-green-700 hover:bg-green-600 text-white font-semibold px-3 sm:px-6 py-3 rounded shadow-lg z-50"
    >
      View Order Summary
    </button>
  </div>

  @if(allCartItems().length<1){
  <div class="flex flex-col justify-center items-center h-screen">
    <h1 class="text-2xl sm:text-3xl font-bold text-gray-800">
      Your Cart is Empty
    </h1>
    <p class="text-gray-600 text-base">
      Add some items to your cart to checkout
    </p>
  </div>

  }

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 max-w-7xl mx-auto">
    <!-- Left: Cart Items -->
    <div class="lg:col-span-2 space-y-6">
      
      @for(item of allCartItems(); track $index){

      <div
        class="bg-white relative rounded-lg shadow p-4 flex flex-col md:flex-row items-center md:items-start gap-6"
      >
        <!-- Product Image -->
        <img
          [src]="item.productId.image"
          alt="Button Mushroom"
          class="w-64 md:w-32 h-36 sm:h-32 object-cover rounded"
        />

        <!-- Product Details -->
        <div class="flex-1 w-full">
          <h2 class="text-xl font-semibold text-gray-900">Button Mushroom</h2>
          <p class="text-gray-600 mt-1 line-clamp-3">
            {{item.productId.description}}
          </p>
          <div
            class="mt-4 sm:mt-2 flex flex-wrap gap-4 text-sm text-gray-800 font-medium"
          >
            <span>Price: Rs {{item.productId.price}}</span>
            <span>Quantity: {{item.quantity}}</span>
            <span>Total: ₹{{item.productId.price * item.quantity}}</span>
          </div>
          <!-- Delete Button -->
          <button
            (click)="deleteCartItemById(item.productId._id)"
            class="absolute sm:bottom-2 bottom-auto sm:top-auto top-3 right-4 cursor-pointer bg-red-700 text-white text-sm px-3 py-1 rounded hover:bg-red-600 transition duration-300"
          >
            Remove
          </button>
        </div>
      </div>
      }

      <!-- Repeat more cart items here as needed -->
    </div>

    <!-- Right: Order Summary -->
    @if(allCartItems().length>0){

    <div id="order-summary" class="bg-white rounded-lg shadow p-6 h-fit">
      <h2 class="text-2xl font-bold text-gray-900 mb-4">Order Summary</h2>

      <div class="space-y-2 text-gray-700">
        <div class="flex flex-col justify-between">
          <label for="">Delivery Address</label>
          <input
            #address
            type="text"
            class="w-full p-2 border rounded"
            placeholder="Enter Delivery Address"
            (input)="onAddressInput(address.value)"
            [value]="queryAddress()"
          />
          <div *ngIf="showSuggestions()" class="relative">
            <ul
              class="bg-white shadow-md border rounded mt-1 z-40 relative w-full"
            >
              @for(suggestion of suggestions(); track $index) {

              <li
                (click)="onAddressSelect(suggestion)"
                (keydown.enter)="onAddressSelect(suggestion)"
                (keydown.space)="onAddressSelect(suggestion)"
                id="address"
                class="p-2 cursor-pointer transition-colors duration-200 ease-in-out hover:bg-gray-200 hover:pl-4"
              >
                {{suggestion.placePrediction?.text?.text}}
              </li>
              }
            </ul>
          </div>
        </div>
        <div class="flex justify-between">
          <span class="opacity-80">Subtotal</span>
          <span class="opacity-80">RS {{subTotal()}}</span>
        </div>
        <div class="flex justify-between">
          <span class="opacity-80">Delivery Fee</span>
          <span class="opacity-80">RS {{deliveryFee()}}</span>
        </div>
        <div class="border-t border-gray-200 my-4"></div>
        <div class="flex justify-between font-bold text-lg">
          <span>Total</span>
          <span>₹{{total()}}</span>
        </div>
      </div>

      <!-- Checkout Button -->
      <button
        [disabled]="!orderFormObj.get('address')?.value"
        (click)="checkoutProcess()"
        [ngClass]="{
    'bg-green-700 hover:bg-green-600 cursor-pointer': orderFormObj.get('address')?.value,
    'bg-gray-400 cursor-not-allowed': !orderFormObj.get('address')?.value
  }"
        class="w-full cursor-pointer mt-6 bg-green-700 hover:bg-green-600 text-white font-medium py-3 rounded transition duration-300"
      >
        Checkout
      </button>
    </div>
    }
  </div>
</div>

}

<!-- Overlay -->
@if(showPopup == true){
<div
  id="orderSuccessPopup"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
>
  <!-- Popup box -->
  <div class="bg-white rounded-lg shadow-lg p-6 max-w-sm w-full text-center">
    <h2 class="text-2xl font-bold mb-4 text-green-600">Order Successful!</h2>
    <p class="mb-6">Thank you for your purchase. {{checkoutMessage}}</p>
  </div>
</div>

}
