

<div class="min-h-screen flex items-center justify-center bg-[#EBF2FA] px-4">
  <form *ngIf="!showToast" [formGroup]="loginObj" class="bg-white p-6 rounded-xl shadow-lg w-full max-w-sm">
    <h2 class="text-2xl font-bold text-center mb-6">Login</h2>

    <div class="mb-4">
      <label class="block text-sm font-medium mb-1" for="phone">Phone Number</label>
      <input
      formControlName="phoneNumber"
        autocomplete="off"
        id="phone"
        type="tel"
        class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-300"
      />
      <p *ngIf="loginObj.controls['phoneNumber']?.touched && loginObj.controls['phoneNumber']?.invalid"  class="text-red-500">Enter correct number</p>
      <p *ngIf="loginObj.controls['phoneNumber'].errors?.['pattern']"  class="text-red-500">Number must start with 97 or 98.</p>
      
    </div>

    <div  class="mb-4">
      <label class="block text-sm font-medium mb-1" for="password">Password</label>
      <input
      formControlName="password"
        autocomplete="off"
        id="password"
        type="password"
        class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-300"
      />
    </div>

    <button
      (click)="onLogin()"
      type="submit"
      [disabled]="loginObj.invalid"
      [ngClass]="{'cursor-not-allowed': loginObj.invalid, 'opacity-50': loginObj.invalid,
      'cursor-pointer':loginObj.valid, 'opacity-100':loginObj.valid}"
      class="w-full bg-green-600  text-white py-2 px-4 rounded-md hover:bg-green-700 transition"
    >
      Login
    </button>

    <p class="text-center text-sm text-gray-600 mt-4">
      Don’t have an account? <a routerLink="/signup" class="text-blue-600 cursor-pointer hover:underline">Sign up</a>
    </p>
  </form>

   <div
  *ngIf="showToast"
  id="toast-default"
  class="flex items-center w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow-sm dark:text-gray-400 dark:bg-gray-800"
  role="alert"
>
  <div class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-blue-500 bg-blue-100 rounded-lg dark:bg-blue-800 dark:text-blue-200">
    <svg class="w-4 h-4" fill="none" viewBox="0 0 18 20" xmlns="http://www.w3.org/2000/svg">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M15.147 15.085a7.159 7.159 0 0 1-6.189 3.307A6.713 6.713 0 0 1 3.1 15.444c-2.679-4.513.287-8.737.888-9.548A4.373 4.373 0 0 0 5 1.608c1.287.953 6.445 3.218 5.537 10.5 1.5-1.122 2.706-3.01 2.853-6.14 1.433 1.049 3.993 5.395 1.757 9.117Z" />
    </svg>
    <span class="sr-only">Fire icon</span>
  </div>
  <div class="ms-3 text-sm font-normal">{{this.toastMessage}}</div>
  <button
    type="button"
    class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
    (click)="showToast = false"
    aria-label="Close"
  >
    <span class="sr-only">Close</span>
    <svg class="w-3 h-3" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
    </svg>
  </button>
</div>
</div>


